* {
  padding: 0;
  margin: 0;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.container-top {
  background: #3b5998;
  height: 90px;
  width: 100%;
  border: 1px solid #133783;
  box-sizing: border-box;
}

.fb {
  color: white;
  font-size: 45px;
  font-family: Klavika;
  display: inline-block;
  margin-left: 190px;
  margin-top: 30px;
}

.enter {
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 20px;
  margin-right: 200px;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
}

.enter>div>div {
  margin-bottom: 5px;
}

.log,
.pas {
  width: 140px;
  height: 20px;
  padding: 2px;
  border: 1px solid #1d2a5b;
  margin-right: 10px;
}

.pswrd {
  display: flex;
  flex-direction: column;
}

a {
  color: #9cb4d8;
  text-decoration: none;
  margin-top: 5px;
  font-family: inherit;
}

a:hover {
  text-decoration: underline;
}

.click {
  display: flex;
  align-items: center;
}

.but {
  background: #4267b2;
  height: 25px;
  width: 50px;
  padding: 2px;
  border: 1px solid #29487d;
  color: white;
  text-align: center;
  cursor: pointer;
}

.but:hover {
  background: #3b5998;
}

.but:active {
  background: #29487d;
}

input {
  outline: none;
}

.container-mid {
  background: #e9ebee;
  height: 385px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finding {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 50%;
  width: 555px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.white {
  flex: 1 1 auto;
}

.find-your {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
  height: 40px;
  font-family: sans-serif;
  font-size: 12px;
  color: #162643;
}

.upline {
  display: flex;
  justify-content: center;
  height: 10px;
  width: 100%;
}

.line {
  height: 1px;
  background: #ccc;
  width: 90%;
  margin-right: 10px;
}

.mid-block {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 70px;
}

.upper-part {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-left: 60px;
  font-size: 15px;
}

.bottom-part {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
}

.email-or-phone {
  width: 300px;
  height: 20px;
}

.grey {
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  width: 100%;
  border-top: 1px solid #ccc;
  flex: 0 1 52px;
}

.bot-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}

.bradius {
  border-radius: 2px;
}

.canc,
.plus {
  background: #f6f7f9;
  height: 25px;
  width: 50px;
  padding: 2px;
  border: 1px solid #ced0d4;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 2px;
}

.canc:hover {
  background: #f2f2f2;
}

.canc:active {
  background: lightgrey;
}

.container-bot {
  display: flex;
  flex-direction: column-reverse;
  background: white;
  height: 400px;
  width: 100%;
}

.language-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 150px;
  width: 100%;
  color: #369dd7;
}

.plus {
  margin-left: 10px;
  width: 30px;
  height: 20px;
  font-weight: bold;
}

.plus:hover {
  background: #f2f2f2;
}

.plus:active {
  background: lightgrey;
}

.language-text {
  display: flex;
  justify-content: center;
  word-spacing: 15px;
  margin-right: 200px;
  font-family: sans-serif;
  font-size: 13px;
}

.language-line {
  background: #dddfe2;
  height: 1px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.set {
  display: flex;
  justify-content: center;
}

.functions {
  width: 80%;
  word-spacing: 15px;
  font-family: sans-serif;
  font-size: 13px;
}

.facebook {
  color: #737373;
  font-size: 12px;
  margin-right: 990px;
  margin-top: 20px;
}